<!DOCTYPE html>
<html>
	<head>
		
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<link rel="stylesheet" href="/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="/bootstrap/no_bootstrap/Projet.css">
		
	</head>
	<body>
		<div class="col-md-12 Jouer">
			<button type="button" class="btn btn-primary btn-lg Noir" onclick="redirect_to_jeu()">Joueur 2</button>
		</div>
		<div class="col-md-12 Jouer">
			<button type="button" class="btn btn-primary btn-lg Blanc" onclick="redirect_to_jeu()"> A vous</button>
		</div>
		<script>
			function redirect_to_jeu() {
				window.location.href = '/jeu'}
		</script>
	</body>
</html>
