<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<link rel="stylesheet" href="/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="/bootstrap/no_bootstrap/Projet.css">
	</head>
	<body>
		<div class="col-md-12 Ligne1">
			<div class="col-md-4 Regles" align="justify">
				<div class="col-md-12 ImgRegles">
					<img class="images" src="/images/Fast&curious.PNG">
				</div>
				<div class="col-md-12 Rgls" align="justify">
					<h3><b>Règles du jeu:</b></h3>
					<p class "regles">Le jeu illustre la participation à un questionnaire de type "Fast & Curious".<br>Un joueur A répond à une série de questions. Un joueur B répond ensuite, à sont tour, à la même série de questions que le joueur A. A la fin du jeu, le joueur B reçoit un gage à la hauteur du pourcentage d'erreurs qu'il a commis. Si le pourcentage de bonnes réponses du joueur B est supérieur ou égal à 80%, le gage s'affiche à titre indicatif mais le joueur B n'est pas tenu de le réaliser.<br>
				</div>
			</div>

			<div class="col-md-4 Questions" align="justify">
				<div class="col-md-12 ImgQuestions">
					<img class="images" src="/images/Question_reponse.PNG">
				</div>
				<div class="col-md-12 Qsts" align="justify">
					<h3><b>Gestion des questions:</b></h3>
					<p class "questions">Chaque liste de questions est générée aléatoirement depuis une base de données. Les questions portent sur des choix naturels que nous effectuons dans la vie et qui illustrent et entretiennent la concurrence entre des entités similaires et connues.
				</div>
			</div>

			<div class="col-md-4 Credits" align="justify">
				<div class="col-md-12 ImgCredits">
					<img class="images" src="/images/CreditsRoyalties.PNG">
				</div>
				<div class="col-md-12 Cdts" align="justify">
					<h3><b>Crédits:</b></h3>
					<p class "credits">Cette application Web est réalisée par:<br><ul><li>Vincent GRUEL</li><li>Pierre BAUGE</li><li>Adrien GAGNON</li><li>Antoine BLAINEAU</li></ul>
				</div>
			</div>
		</div>
		<div class="col-md-12 Ligne2">
			<button type="button" class="btn btn-primary btn-lg Retour" onclick=redirect_to_accueil()>Retour à la page d'accueil</button>
			<script>
                function redirect_to_accueil() {
					window.location.href = '/'}
			</script>
		</div>
	</body>
</html>
